html {
    background: #eee;
}


video {
    object-fit: fill;
    width: 720px;
    height: 430px;
    max-height: 439px;
}
button,input,select {
    font-weight: normal;
    padding: 2px 4px;
    text-decoration: none;
    display: inline-block;
    text-shadow: none;
    font-size: 16px;
    outline: none;
}

.content{
    padding: 0px 27px;
}
